.small-form-users {
    display: block !important;
    text-align: center !important;
    width: 30% !important;
    height: 560px !important;
    box-shadow: 0 0 80px rgba(8,7,16,0.2) !important;
    background-color: rgba(251, 251, 255, .1) !important;
    backdrop-filter: blur(10px) !important;
}

.account {
    height: 465px !important;
}

.block {
    display: block;
}

#select-users {
    text-align: center;
}

.small-form-users-update {
    display: block !important;
    text-align: center !important;
    width: 30% !important;
    height: 450px !important;
    box-shadow: 0 0 80px rgba(8,7,16,0.2) !important;
    background-color: rgba(251, 251, 255, .1) !important;
    backdrop-filter: blur(10px) !important;
}