body {
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 3% 25%, rgba(255, 255, 255, 1) 0%, rgba(152, 193, 217, 0.5) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 3% 25%, rgba(255, 255, 255, 1) 0%, rgba(152, 193, 217, 0.5) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 3% 25%, rgba(255, 255, 255, 1) 0%, rgba(152, 193, 217, 0.5) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 3% 25%, rgba(255, 255, 255, 1) 0%, rgba(152, 193, 217, 0.5) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 3% 25%, rgba(255, 255, 255, 1) 0%, rgba(152, 193, 217, 0.5) 100%);
}

.base__shapes .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child{
    background: linear-gradient(
        #EE6C4D,
        #f09819
    );
    left: 421px;
    top: 100px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #3D5A80,
        #293241
    );
    right: 421px;
    bottom: 100px;
}

.nexus__login-form{
    height: auto;
    width: 400px;
    background-color: rgba(251, 251, 255, .1);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 10px 35px 30px;
}

.nexus__login-form *{
    font-family: var(--font-family);
    color: var(--color-text);
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.nexus__login-logo {
    margin: -1.5rem 0.652rem 3.125rem 4.0625rem;
}

.nexus__login-logo img {
    width:  12.5rem;
    height: 2rem;
}

.nexus__login-form_title {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}

.nexus__login-form_label {
    display: block;
    margin: 30px auto 10px;
    font-size: 20px;
    font-weight: 500;
}

.nexus__login-button {
    margin-top: 30px;
    width: 100%;
    background-color: var(--color-btn);
    color: var(--color-text);
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 300ms all;
}

.nexus__login-button:hover {
    scale: 1.01;
    opacity: .9;
}

#username,
#password {
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: rgba(41, 50, 65, .165);
    padding: 0 1rem;
    border: none;
    outline: none;
    color: var(--color-text);

    border-radius: 5px;
}::placeholder { color: #f1f1f1 }

#username:focus,
#password:focus {
    border: .5px solid var(--color-text);
}

.nexus__login-accounts {
    position: absolute;
    width: 270px;
    height: 200px;
    top: 17.5%;
    left: 70%;
    border-radius: 15px;
    background-color: rgba(251, 251, 255, .3);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 15px rgba(8,7,16,0.6);
    padding: 1rem 2rem;
    z-index: -1;
}

.nexus__login-accounts p {
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: 22px;
}

#login_btn {
    float: right;
    margin-right: 190px;
}
